/* 지역리스트 */
#menuitems{
	background-color: white;
}
.locallist{
	display: none;
}

li:hover {
	background-color: rgb(183, 186, 231) !important;
}

/* 메인검색 */
#lolist,#ctlist{
	color: rgb(255,163,123);
}
ul.tabs{
   margin: 0px;
   padding: 0px;
   list-style: none;
}
	