<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="com/youthdew/db/db.properties"/>

<typeAliases>
	<typeAlias alias="MemberVO"  type="com.youthdew.model.MemberVO"/>
	<typeAlias alias="SpaceListVO"  type="com.youthdew.model.SpaceListVO"/>
	<typeAlias alias="CenterVO"  type="com.youthdew.model.CenterVO"/>
	<typeAlias alias="MarkVO"  type="com.youthdew.model.MarkVO"/>
	<typeAlias alias="MessageVO"  type="com.youthdew.model.MessageVO"/>
	<typeAlias alias="reservationInfoVO"  type="com.youthdew.model.reservationInfoVO"/>
</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!-- <mapper resource="com/youthdew/db/mapper.xml"/> -->
    <mapper resource="com/youthdew/db/mapper_member.xml"/>
    <mapper resource="com/youthdew/db/mapper_center.xml"/>
    <mapper resource="com/youthdew/db/mapper_bookmark.xml"/>
  </mappers>
</configuration>