<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthdew.db.mapper">
	<!-- 회원가입 -->
	<insert id="join" parameterType="MemberVO">
		insert into tb_user values(#{user_id} , #{user_pw} , #{user_name} , #{user_birthdate} , #{user_phone} , #{user_joindate}, 'M')
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="MemberVO"
		parameterType="MemberVO">
		select * from tb_user where user_id = #{user_id} and user_pw = #{user_pw}
	</select>

</mapper>