<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthdew.db.mapper">
	<!-- 회원가입 -->
	<insert id="join" parameterType="MemberVO">
		insert into tb_user values(#{user_id} , #{user_pw} , #{user_name} , #{user_birthdate} , #{user_phone} , sysdate, 'M')
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="MemberVO"
		parameterType="MemberVO">
		select * from tb_user where user_id = #{user_id} and user_pw = #{user_pw}
	</select>
	
	<!-- 회원정보 조회 -->
	<select id="userSearch" resultType="MemberVO">
		select * from tb_user where user_id=#{user_id}
	</select>
	
	<!--센터 공유공간 조회  -->
	<select id="selectspace" resultType="SpaceListVO">
 	select * from tb_center, tb_shared_space where tb_center.center_id=tb_shared_space.center_id and tb_center.center_name=#{center_name} and tb_center.local_do like '%'||#{local_do}||'%'
 	</select>
 	
 	
 	<!-- 센터정보 조회 --> <!-- typealias했는지 check하기!!! -->
	<select id="Searchcenter" resultType="CenterVO">
	select * from tb_center where local_do like '%'||#{local_do}||'%'
	</select>
	
	<!--한개 센터정보 조회  -->
	<select id="selectcenter" resultType="CenterVO" parameterType="String">
	select * from tb_center where center_name=#{center_name}
	</select>
	
	
	<!-- 부대시설 필터링 센터정보 조회 -->
	<select id="Selectfac" parameterType="CenterVO" resultType="CenterVO">
	select *
	from tb_center a, tb_center_facility b
	where a.center_id=b.center_id
	and a.local_do like '%'||#{local_do}||'%'
	and b.fac_code=#{fac_code}
	and b.fac_cnt>=1
	</select>
	
	
	
	
	
	<!-- 즐겨찾기 추가 -->
	<insert id="insertMark" parameterType="MarkVO">
	insert into tb_bookmark values(tb_bookmark_seq.NEXTVAL,#{user_id},#{center_id}, sysdate)
	</insert>
	
	<!-- 즐겨찾기 조회 -->
	<select id="selectMark" resultType="MarkVO">
	SELECT A.CENTER_ID, A.CENTER_NAME, A.LOCAL_DO, A.LOCAL_GU, A.CENTER_RUNTIME, A.CENTER_TEL, A.CENTER_PIC
  	FROM TB_CENTER A, TB_BOOKMARK B
 	WHERE A.CENTER_ID = B.CENTER_ID
   	AND B.USER_ID = #{user_id}
	</select>
	
	<!-- 즐겨찾기 삭제 -->
	<delete id="deleteMark" parameterType="MarkVO">
	delete from tb_bookmark where center_id=#{center_id} and user_id=#{user_id}
	</delete>
	
	<!-- 즐겨찾기 중복조회 -->
	<select id="overlapMark" resultType="MarkVO" parameterType="MarkVO">
	select * from tb_bookmark where center_id=#{center_id} and user_id=#{user_id}
	</select>

</mapper>